<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Mesero</title>
    <link rel="stylesheet" href="/public/css/Mesero.css">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>

</head>
<body>
    <div id="mensaje-pedido">
        <!-- El mensaje del pedido se mostrará aquí -->
    </div>
    
    <div class="mesero">
        <h1>Panel de Mesero</h1>
    </div>

    <div id="contenedor-botones" class="Container-bottons"></div>

    <script src="/public/js/Mesero.js"></script>

</body>
</html>
