<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROL</title>
    <link rel="stylesheet" href="/public/css/Rol.css">
</head>
<body>
    <div class="seccion-container">
        <div class="cocina">

            <h1><a href="/views/cocinero.html">COCINA</a></h1>   
            <img src="/public/img/usuarios/cocina.jpeg" alt="">
        
        </div> 
        <div class="mesero">
            
            <h1><a href="/views/Mesero.html">MESERO</a></h1>
            <img src="/public/img/usuarios/mesero.jpg" alt="">
        </div>
        <div class="caja">
            
            <h1><a href="/views/cajero.html">CAJA</a></h1>
            <img src="/public/img/usuarios/Caja.jpg" alt="">

        </div>
    </div>
</body>
</html>