
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.pedido-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.pedido {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.pedido:last-child {
    border-bottom: none;
}
.boton-listo {
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton-listo:hover {
    background-color: #218838;
}